In [1]:
import pandas as pd

## Read Data

In [2]:
data = pd.read_csv('car_data.csv')

In [3]:
data

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,2014-12-16
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,2014-12-16
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,2015-01-15
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,2015-01-29
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,2014-12-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,2015-07-09
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,2015-07-08
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,2015-07-08
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,2015-07-09
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,2015-05-28

## Deklarasi Nama State

In [4]:
import pandas as pd


data['state'] = data['state'].replace({
    'ca': 'California',
    'tx': 'Texas',
    'pa': 'Pennsylvania',
    'mn': 'Minnesota',
    'az': 'Arizona',
    'wi': 'Wisconsin',
    'tn': 'Tennessee',
    'md': 'Maryland',
    'fl': 'Florida',
    'ne': 'Nebraska',
    'nj': 'New Jersey',
    'nv': 'Nevada',
    'oh': 'Ohio',
    'mi': 'Michigan',
    'ga': 'Georgia',
    'va': 'Virginia',
    'sc': 'South Carolina',
    'nc': 'North Carolina',
    'in': 'Indiana',
    'il': 'Illinois',
    'co': 'Colorado',
    'ut': 'Utah',
    'mo': 'Missouri',
    'ny': 'New York',
    'ma': 'Massachusetts',
    'pr': 'Puerto Rico',
    'or': 'Oregon',
    'la': 'Louisiana',
    'wa': 'Washington',
    'hi': 'Hawaii',
    'qc': 'Quebec',
    'ab': 'Alberta',
    'on': 'Ontario',
    'ok': 'Oklahoma',
    'ms': 'Mississippi',
    'nm': 'New Mexico',
    'al': 'Alabama',
    'ns': 'Nova Scotia'
})

# Menghapus baris dengan nilai NA di kolom 'state'
data = data.dropna(subset=['state'])

# Menampilkan hasil
print(data['state'].unique())

['California' 'Texas' 'Pennsylvania' 'Minnesota' 'Arizona' 'Wisconsin'
 'Tennessee' 'Maryland' 'Florida' 'Nebraska' 'New Jersey' 'Nevada' 'Ohio'
 'Michigan' 'Georgia' 'Virginia' 'South Carolina' 'North Carolina'
 'Indiana' 'Illinois' 'Colorado' 'Utah' 'Missouri' 'New York'
 'Massachusetts' 'Puerto Rico' 'Oregon' 'Louisiana' 'Washington' 'Hawaii'
 'Quebec' 'Alberta' 'Ontario' 'Oklahoma' 'Mississippi' 'New Mexico'
 'Alabama' '3vwd17aj4fm201708' 'Nova Scotia' '3vwd17aj2fm258506'
 '3vwd17aj3fm276741' '3vwd17aj2fm285365' '3vwd17aj0fm227318'
 '3vwd17aj6fm218641' '3vwd17aj7fm223475' '3vwd17aj5fm297123'
 '3vwd17aj5fm219943' '3vwd17aj9fm219766' '3vwd17aj3fm259017'
 '3vwd17aj5fm206111' '3vwd17aj5fm273601' '3vwd17aj5fm221322'
 '3vwd17aj5fm268964' '3vwd17aj6fm231972' '3vwd17aj7fm222388'
 '3vwd17aj7fm218440' '3vwd17ajxfm315938' '3vwd17aj7fm229552'
 '3vwd17aj8fm298895' '3vwd17aj4fm236636' '3vwd17aj5fm225953'
 '3vwd17aj7fm326640' '3vwd17aj8fm239622' '3vwd17aj2fm261566']

## Menghapus State yang Invalid

In [5]:


# Misalkan data Anda disimpan dalam dataframe bernama df
# Buat filter untuk mendeteksi data yang tidak sesuai (VIN panjang 17 karakter)
invalid_states = data['state'].str.match(r'^[0-9a-zA-Z]{17}$')

# Memindahkan VIN ke kolom 'vin' (jika memang ada kolom 'vin')
data.loc[invalid_states, 'vin'] = data.loc[invalid_states, 'state']

# Menghapus atau mengganti nilai di kolom 'state' yang tidak valid
data.loc[invalid_states, 'state'] = pd.NA  # Atau gunakan 'Unknown' sebagai placeholder

In [6]:
# Menampilkan hasil
print(data['state'].unique())

['California' 'Texas' 'Pennsylvania' 'Minnesota' 'Arizona' 'Wisconsin'
 'Tennessee' 'Maryland' 'Florida' 'Nebraska' 'New Jersey' 'Nevada' 'Ohio'
 'Michigan' 'Georgia' 'Virginia' 'South Carolina' 'North Carolina'
 'Indiana' 'Illinois' 'Colorado' 'Utah' 'Missouri' 'New York'
 'Massachusetts' 'Puerto Rico' 'Oregon' 'Louisiana' 'Washington' 'Hawaii'
 'Quebec' 'Alberta' 'Ontario' 'Oklahoma' 'Mississippi' 'New Mexico'
 'Alabama' <NA> 'Nova Scotia']

In [7]:
# Menghapus baris dengan nilai NA di kolom 'state'
data = data.dropna(subset=['state'])

In [8]:
# Menampilkan hasil
print(data['state'].unique())

['California' 'Texas' 'Pennsylvania' 'Minnesota' 'Arizona' 'Wisconsin'
 'Tennessee' 'Maryland' 'Florida' 'Nebraska' 'New Jersey' 'Nevada' 'Ohio'
 'Michigan' 'Georgia' 'Virginia' 'South Carolina' 'North Carolina'
 'Indiana' 'Illinois' 'Colorado' 'Utah' 'Missouri' 'New York'
 'Massachusetts' 'Puerto Rico' 'Oregon' 'Louisiana' 'Washington' 'Hawaii'
 'Quebec' 'Alberta' 'Ontario' 'Oklahoma' 'Mississippi' 'New Mexico'
 'Alabama' 'Nova Scotia']

In [11]:
# Menambahkan kolom 'Country' untuk membedakan AS dan Kanada
data['Country'] = data['state'].apply(lambda x: 'United States' if x not in ['Quebec', 'Alberta', 'Ontario', 'Nova Scotia'] else 'Canada')

# Menampilkan data baru dengan kolom Country
print(data[['state', 'Country']].head())

        state        Country
0  California  United States
1  California  United States
2  California  United States
3  California  United States
4  California  United States

## Pembersihan Data (Remove Missing Value)

In [12]:
# Menghapus baris yang memiliki missing value di dataframe 'data'
data = data.dropna()

# Mengecek kembali apakah masih ada missing value
missing_values_after_cleaning = data.isnull().sum()
print(missing_values_after_cleaning)

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
Country         0
dtype: int64

In [13]:
data

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate,Country
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,California,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,2014-12-16,United States
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,California,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,2014-12-16,United States
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,California,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,2015-01-15,United States
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,California,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,2015-01-29,United States
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,California,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,2014-12-18,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,BMW,5 Series,528i,Sedan,automatic,wbafr1c53bc744672,Florida,39.0,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300.0,22800.0,2015-07-07,United States
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,Washington,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,2015-07-08,United States
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,California,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,2015-07-08,United States
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,Georgia,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,2015-07-09,United States
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,California,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,2015-05-28,United States

In [14]:
# Menyimpan dataframe yang sudah dibersihkan ke file CSV baru
data.to_csv('data_car_final.csv', index=False)

print("Data berhasil disimpan ke 'data_car_final.csv'")

Data berhasil disimpan ke 'data_car_final.csv'